body {
  margin: 0;
  padding: 0;
}

.picture {
  width: 100%;
}

.empty {
  font-size: 6vw;
  top: 2em;
  position: relative;
  text-align: center;
}

.arrow-div {
  text-align: center;
  width: 10%;
}

.slide {
  max-width: 80%;
  position: relative;
}

.arrow {
  font-size: 8vw;
}

.slide p {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 2%;
  bottom: 1%;
  margin: 0;
  background: #000;
  white-space: nowrap;
}

.slide p span {
  font-size: 3vw;  
  color: #fff;
}

.small {
  height: 7vw;
}

.thumbnails {
  display: flex;
  justify-content: center;
}

.thumbnail {
  border: 2px solid white;
}

.title {
  text-align: center;
  font-size: 6vw;
  margin: 1%;
}

.caption {
  text-align: center;
  margin: 0;
  display:inline-block;
    position: absolute;
}

#pic-with-arr {
  display: flex;
  width: auto;
  justify-content: space-around;
  align-items: center;
}

.point {
  cursor: pointer;
}

.active-pic {
  border-color: black;
}

@media screen and (min-width: 813px) {
  .title {
    font-size: 400%;
  }

  .slide p span {
    font-size: 200%;  
  }
}

@media screen and (min-width: 1024px) {
  .small {
    height: 80px;
  }
}